body {
	font-family: "Lato", sans-serif;
}

fieldset {
	border: none;
	margin: 0px;
}

legend {
    font-weight: bold;
}

input[type="text"] {
    border-top: none;
    border-right: none;
    border-left: none;
}

input[type="submit"] {
    background-color: rgb(222, 84, 84);
    width: 100%;
    height: 3em;
    color: white;
    border:none;
}